.Images img {
  width: 100%;
}
div.Images {
  display: flex;
  flex-wrap: wrap;
}
.Images div.img-container {
  margin-top: 0.25%;
  margin-bottom: 0.25%;
  margin-left: 0;
  margin-right: 0;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 1%;
  padding-right: 1%;
  border-bottom: 1px solid;
  border-top: 1px solid;
  border-color: var(--first-accent-color);
}
.Images .img-container div {
  display: flex;
}
.Images a {
  position: absolute;
}

.Images i {
  font-size: 36px;
  background: rgba(255, 255, 255, 0.501);
  color: white;
  padding: 16px;
  border-radius: 50%;
}
.Images .background-0 {
  background: rgba(8, 202, 209, 25%);
}
.Images .background-1 {
  background: rgba(52, 150, 153, 25%);
}
.Images .background-2 {
  background: rgba(5, 127, 132, 25%);
}
.Images .background-3 {
  background: rgba(71, 204, 209, 25%);
}
.Images .background-4 {
  background: rgba(3, 79, 82, 25%);
}
.Images .start {
  margin-left: 0.35% !important;
  padding-left: 0.5% !important;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  border-left: 1px solid var(--first-accent-color);
}
.Images .end {
  margin-right: 0.35% !important;
  padding-right: 0.5% !important;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-right: 1px solid var(--first-accent-color);
}
.Images .none {
  display: none;
}
